.error {
    color: orangered;
}

body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
    margin-left: auto;
}

.main-tab-menu-header {
    padding: 15px 0;
}

.menu-header-icon {
    padding: 15px;
    text-align: center;
    font-size: 20px;
    -webkit-box-shadow: -1px 0px 11px 0px rgba(188, 188, 188, 0.89);
    box-shadow: -1px 0px 11px 0px rgba(188, 188, 188, 0.89);
    border-radius: 15px;
    background-image: linear-gradient(
            87deg, #0662ec 0%, #5393f3 100%) !important;
    color: white;
    min-width: 134px;
    margin-left: 10px;
    margin-top: 10px;
}

.menu-header-icon i {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}

.menu-header-icon:hover {
    color: white;
    background-image: linear-gradient(
            87deg, #0662ec 0%, #305da0 100%) !important;
}

.logo-header {
    padding: 4px 27px;
    font-size: 20px;
}

.error-notification {
    background-color: #5d5858d9 !important;
    color: white;
}

.error-notification .ant-notification-notice-message {
    color: #ff7777;
    font-weight: bold;
}

.bg-blue-container.ant-row {
    background-color: #f5f5f5;
    padding: 20px;
}

.sales .bg-blue-container.ant-row, .sales .ant-descriptions-item-label {
    font-weight: bold !important;
}

.sales .checkout-box {
    padding: 15px 20px;
    color: white;
    border-radius: 11px;
    background: rgb(13, 36, 0);
    background: linear-gradient(90deg, rgba(13, 36, 0, 1) 0%, rgba(56, 162, 80, 1) 0%, rgba(71, 199, 100, 1) 100%);
    cursor: pointer;
}

.condense-table > tr > td {
    padding: 0px 16px !important;
}

body .ant-form{
    font-size: 18px;
}

body *{
    font-size: 16px !important;
}